.testimonials {
  background-color: #495e57;
}

.testimonial-headline {
  color: #f4ce14;
  font-family: "Markazi";
  font-size: 64px;
  text-align: center;
}
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews div {
  background-color: #ee9972;
  color: black;
  text-align: center;
  font-size: 16px;
  height: 155px;
  width: 225px;
  margin: 30px;
  border-radius: 16px;
  padding: 10px;
}
