body {
  font-family: "Karla", sans-serif;
}

ul {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  list-style-type: none;
}
.main-container {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  align-content: center;
  justify-content: center;
}
