* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/KarlaTwo.ttf");
}

@font-face {
  font-family: "Markazi";
  src: url("./assets/Markazi.ttf");
}

h1 {
  font-size: 60px;
  font-family: "Markazi Text", serif;
  font-weight: normal;
}

h2,
h4 {
  font-weight: normal;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
